* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

@media screen and (max-width: 800px) {

    .title {
        font-size: 12px;
        min-width: 600px;
    }

    .about_me {
        height: 150%;
        min-width: 600px;
    }

    .about_me h1 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    .about_me_content {
        max-height: 400px;
        min-width: 300px;
    }
}

/* Nav */

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    width: 100px;
    height: 100%;
    top: 50%;
    color: white;
}

.nav span {
    padding: 20px;
    text-align: center;
}

.nav span:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s ease-in;
}

/* Title */

.title {
    position: relative;
    background-image: url("./images/title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* min-width: 1000px; */
    color: white;
    display:none;
}

.curtain {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    animation: fadein 2s;
}

.content h1 {
    font-size: 60px;
    letter-spacing: 16px;
}

.content h2 {
    letter-spacing: 3px;
    font-style: italic;
}



/* about */

.about_me {
    position: absolute;
    margin: auto;
    color: white;
    text-align: center;
    background-image: url("./images/toronto.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    display: none;
}

.about_curtain {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.about_me h1 {
    position: absolute;
    font-size: 40px;
    padding: 30px;
    width: 100%;
    top: 20%;
    /* animation: fadein 2s; */
}

.about_me_content {
    position: absolute;
    font-size: 20px;
    padding: 30px;
    width: 50%;
    height: 250px;
    top: 40%;
    left: 25%;
    overflow: scroll;
    animation: fadein 2s;
}

.contact_info {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 72%;
    left: 25%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 50%;
    animation: fadein 2s;
}

.contact_info p {
    padding: 25px;
}

a {
    text-decoration: none;
    margin-left: 5px;
    color: #777777;
}

.contact_info p>i {
    color:rgb(213, 44, 52);
}

.resume:hover {
    color: white;
    transition: 0.15s ease-in;
}

.linkedin:hover {
    color: white;
    transition: 0.15s ease-in;
}

.github:hover {
    color: white;
    transition: 0.15s ease-in;
}

/* work */

.work {
    position: absolute;
    display: none;
    background-image: url("./images/work.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 130%;
    color: white;
    text-align: center;
    min-width: 600px;
}

.work h1 {
    font-size: 40px;
    padding: 30px;
    margin-bottom: 30px;
}

.dctechusa {
    margin: auto;
    width: 60%;
    height: 230px;
    padding: 15px;
    overflow: scroll;
    animation: 2s fadein;
}

.dctechusa a {
    font-size: 40px;
    color: #E18731;
}

.dctechusa p {
    padding-top: 20px;

}

.dctechusa a:hover {
    text-shadow: 0 0 20px orange, 0 0 80px orange;
}

.radicalcompany {
    margin: auto;
    width: 60%;
    height: 230px;
    padding: 15px;
    overflow: scroll;
    animation: 2s fadein;
}
.radicalcompany a {
    font-size: 40px;
    color: #AF494C;
}

.radicalcompany p {
    padding-top: 20px;
}

.radicalcompany a:hover {
    text-shadow: 0 0 20px #d21404, 0 0 80px #d21404;
}

.aol {
    margin: auto;
    padding: 15px;
    width: 60%;
    height: 200px;
    overflow: scroll;
    animation: 2s fadein;
}

.aol a {
    font-size: 40px;
    color: #00C4FF;
}

.aol p {
    padding-top: 20px;

}

.aol a:hover {
    text-shadow: 0 0 20px #00C4FF, 0 0 80px #00C4FF;
}

/* projects */

.projects {
    position: absolute;
    display: none;
    background-image: url("./images/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    min-width: 700px;
}

.reviewbook {
    width: 50%;
    height: 400px;
    margin: auto;
    float: left;
    animation: fadein 2s;
    padding: 25px;
}

.reviewbook h2 {
    font-size: 50px;
    padding: 10px;
}

.reviewbook p {
    font-size: 16px;
}

.mates {
    position: relative;
    padding: 25px;
    margin: auto;
    float: right;
    width: 50%;
    height: 400px;
    animation: fadein 2s;
}

.mates h2 {
    font-size: 50px;
    padding: 10px;
}

.mates p {
    font-size: 16px;
}

.projects h1 {
    font-size: 40px;
    padding: 30px;
    width: 100%;
    /* animation: fadein 2s; */
}

.warning {
    width: 100%;
    animation: fadein 2s;
}
/* contact */

.contact {
    display: none;
    background-image: url('./images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.display {
    display: grid;
}

.active {
    background-color: rgba(213, 44, 52, 0.8);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}